/* ------------------------------------------ *
               CAVE HOVER EFFECTS
 * ------------------------------------------ *
   CREDIT TO SNOW (#553411), DO NOT REMOVE
   INSTRUCTIONS FOR USE:
 * ------------------------------------------ *
   ADJUST TRANSITION TIME: # = milliseconds
*/

#fraCaveList .col-xs-6 {
	height: 130px !important;
}
#fraCaveList .cave-grid{
	height: 100px !important;
	transition: height 0.#s ease-in-out;
}

#fraCaveList .cave-grid:hover{
	height: 125px !important;
	transition: height 0.#s ease-in-out;
}
#fraCaveList .cave-grid img {
   height: 100px;
}
#fraCaveList {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: .1px;
}
