/* ------------------------------------------ *
               CUSTOM CAVE ORDER
 * ------------------------------------------ *
   CREDIT TO SNOW (#553411)
   INSTRUCTIONS FOR USE:
 * ------------------------------------------ *
   LEFT/RIGHT: 'left' property
   | Negative = left
   | Positive = right
   | 33% = 1 slot

   UP/Down: 'transform' property
   | Negative = up
   | Positive = down
   | 100% = 1 slot
*/


#fraCaveList .col-md-4.center:nth-child(1) {
	position: relative;
  transform: translateY(#%);
	left: #%;
}
#fraCaveList .col-md-4.center:nth-child(2) {
  position: relative;
  transform: translateY(#%);
  left: #%;
}
#fraCaveList .col-md-4.center:nth-child(3) {
  position: relative;
  transform: translateY(#%);
  left: #%;
}
#fraCaveList .col-md-4.center:nth-child(4) {
  position: relative;
  transform: translateY(#%);
  left: #%;
}
#fraCaveList .col-md-4.center:nth-child(5) {
  position: relative;
  transform: translateY(#%);
  left: #%;
}
#fraCaveList .col-md-4.center:nth-child(6) {
  position: relative;
  transform: translateY(#%);
  left: #%;
}
#fraCaveList .col-md-4.center:nth-child(7) {
  position: relative;
  transform: translateY(#%);
  left: #%;
}
#fraCaveList .col-md-4.center:nth-child(8) {
  position: relative;
  transform: translateY(#%);
  left: #%;
}
#fraCaveList .col-md-4.center:nth-child(9) {
  position: relative;
  transform: translateY(#%);
  left: #%;
}	
