/* ------------------------------------------ *
            INDIVIDUAL CAVE IMAGES
 * ------------------------------------------ *
   CREDIT TO SNOW (#553411), DO NOT REMOVE
   INSTRUCTIONS FOR USE:
 * ------------------------------------------ *
   TARGETTING CAVES: replace 'CAVEID'
   | Go to your cave
   | You will find your cave's ID at the end of the link
   | Copy the ID and replace the placeholder 'CAVEID'

   REPLACING IMAGES: replace 'IMAGEURL'
   | Get your image address link
   | Replace the placeholder 'IMAGEURL' with your link

   REPEAT FOR HOWEVER MANY CAVES YOU HAVE
*/

a[href$="cave.php?id=CAVEID"] > .cave-grid img {
    content: url('IMAGEURL');
}
a[href$="cave.php?id=CAVEID"] > .cave-grid img {
    content: url('IMAGEURL');
}
a[href$="cave.php?id=CAVEID"] > .cave-grid img {
    content: url('IMAGEURL');
}
a[href$="cave.php?id=CAVEID"] > .cave-grid img {
    content: url('IMAGEURL');
}
a[href$="cave.php?id=CAVEID"] > .cave-grid img {
    content: url('IMAGEURL');
}
a[href$="cave.php?id=CAVEID"] > .cave-grid img {
    content: url('IMAGEURL');
}
a[href$="cave.php?id=CAVEID"] > .cave-grid img {
    content: url('IMAGEURL');
}
a[href$="cave.php?id=CAVEID"] > .cave-grid img {
    content: url('IMAGEURL');
}
a[href$="cave.php?id=501106"] > .cave-grid img {
    content: url('IMAGEURL');
}
