* cave images */
a[href$="cave.php?id=494151"] > .cave-grid img {
    content: url('image url');
}
a[href$="cave.php?id=497532"] > .cave-grid img {
    content: url('image url');
}
a[href$="cave.php?id=501060"] > .cave-grid img {
    content: url('image url');
}
a[href$="cave.php?id=501015"] > .cave-grid img {
    content: url('image url');
}
a[href$="cave.php?id=497531"] > .cave-grid img {
    content: url('image url');
}
a[href$="cave.php?id=501107"] > .cave-grid img {
    content: url('image url');
}
a[href$="cave.php?id=501094"] > .cave-grid img {
    content: url('image url');
}
a[href$="cave.php?id=501014"] > .cave-grid img {
    content: url('image url');
}
a[href$="cave.php?id=501106"] > .cave-grid img {
    content: url('image url');
}
