* {
	color: #526363 !important;
	font-family: "Almendra", Serif !important;
}

body {
	background-color: #d9e6e6;
	background-image: url('https://github.com/snnxwww/Custom-CSS-Themes/blob/main/Snow%20Leopard%20Theme/snowleopardbg.png?raw=true');
	background-position: center !important;
	background-size: cover !important;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
}

.main {
	background-color: #c7d6d790 !important;
	border: none !important;
	box-shadow: none !important;
}
.col-xs-12 {
	background-color: #ffffff00 !important;
}
.col-md-9 {
	background-color: #ffffff00 !important;
}
.sidebar.col-md-3 {
	background-color: #9eb4b480 !important;
}

.topbar {
	background-color: #9eb4b480 !important;
	color: #587072 !important;
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}
.topbar a {
	color: #647d7f !important;
}
.topbar a:hover {
	color: #e1ebec !important;
}
img[src*="icon-beetle-silver.png"] {
	content: url('https://github.com/snnxwww/Custom-CSS-Themes/blob/main/Snow%20Leopard%20Theme/sb.png?raw=true') !important;
}
img[src*="icon-beetle-gold.png"] {
	content: url('https://github.com/snnxwww/Custom-CSS-Themes/blob/main/Snow%20Leopard%20Theme/gb.png?raw=true') !important;
}

.navbar {
	background-color: #698a8a80 !important;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
}
.navbar a {
	color: #dbebeb !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	vertical-align: middle !important;
}
.navbar a:hover {
	background-color: #b7cccc80 !important;
	color: #5e7575 !important;
	text-shadow: 0px 0px 1px #dfeae9, 
		0px 0px 1px #dfeae9, 
		0px 0px 1px #dfeae9, 
		0px 0px 5px #dfeae9,
		0px 0px 5px #dfeae9,
		0px 0px 5px #dfeae9,
		0px 0px 10px #dfeae9
	;
}

.navbar-header a:hover {
	background-color: #ffffff00 !important
}
img[src*="logo-full-2.png"] {
	content: url('https://github.com/snnxwww/Custom-CSS-Themes/blob/main/Snow%20Leopard%20Theme/logo.png?raw=true') !important;
}


.breadcrumb {
	background-color: #698a8a40 !important;
	border-radius: 2px !important;
}
.breadcrumb a {
	color: #5f6c6c !important;
}
.breadcrumb-item {
	color: #7b8d8d !important;
}
.breadcrumb-item.active {
	color: #5d8d8d !important;
}

.alert {
	color: #5b7d7d !important;
}
.alert a {
	color: #dfebeb !important;
}
.alert a:hover {
	color: #cfe0e0 !important;
}
.alert-warning, .alert-danger {
	background-color: #536e6e40 !important;
	border: none !important;
	border-radius: 2px !important;
}
.alert-success {
	background-color: #849c9c40 !important;
	border: none !important;

}

h1 {
	color: #fff !important;
	font-family: "Bonheur Royale", serif !important;
	text-align: center !important;
	font-size: 60px !important;
}

#commentBox {
	background-color: #ffffff20 !important;
	border-radius: 4px !important;
	border: 1px solid #849c9c!important;
}
.comment {
	background-color: #ffffff00 !important;
	border-top: 1px solid #849c9c !important;
	color: #fff !important;
}
.comment:first-child {
	border: none !important;
}
.comment a {
	color: #789292 !important;
}
.comment a:hover {
	color: #a8bcbd !important;
}
#comment {
	background-color: #849c9c80 !important;
	border: none !important;
	padding-left: 5px !important;
	border-radius: 2px !important;
}


.table {
	background-color: #ffffff20 !important;
	border-radius: 4px !important;
	border: none !important;
}
.table .top, .table th {
	background-color: #9eb8b890 !important;
}
.table .left {
	background-color: #bbcdcd90 !important;
}
.table .left.b.center {
	display: none !important;
}
.table .inner-table .right {
	background-color: #d2dcdc90 !important;
}
.table .bottom {
	background-color: #9eb8b890 !important;
}
.table a {
	color: #728587 !important;
	text-decoration: none !important;
}
.table a:hover {
	color: #cddcde !important;
}

select {
    background-color: #9eb8b890 !important;
    color: #fff !important;
    padding: 1px !important;
	padding-left: 5px !important;
    border-radius: 2px !important;
    border: none !important;
}

.member-online {
	background-color: #00000000 !important;
}
.member-online::before {
    content: "[online]" !important;
    color: #5e6a6b !important;
    font-weight: bold !important;
    font-size: 12px !important;
    margin-left: -55px !important; 
    display: inline-flex; 
    align-items: center;
	padding-right: 10px !important;
}

.member-online::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px; 
    background-color: #d9f4f4; 
    border-radius: 50%; 
    margin-right: 0px !important;
	margin-top: 10px !important;
}
.member-offline {
	background-color: #00000000 !important;
}
.member-offline::before {
    content: "[offline]" !important;
    color: #5e6a6b !important;
    font-weight: bold !important;
    font-size: 12px !important;
    margin-left: -55px !important; 
    display: inline-flex; 
    align-items: center;
	padding-right: 10px !important;
}

.member-offline::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px; 
    background-color: #798e8e; 
    border-radius: 50%; 
    margin-right: 0px !important;
	margin-top: 10px !important;
}

.cave-grid, .mound-grid {
	background-color: #9eb8b890 !important;
	border: none !important;
	border-radius: 2px !important;
	color: #425e5e !important;
}
.cave-grid:hover, .mound-grid:hover {
	color: #e0eaea !important;
	opacity: 0.8 !important;
}
.cave-grid img, .mound-grid img {
	opacity: 0.8 !important;
}
.col-md-3.col-xs-4.center {
	background: #ffffff00 !important;
}

.sidebar .panel {
	background-color: #ffffff80 !important;
	box-shadow: none !important;
	border: none !important;
}
.panel-body {
	color: #92b4b6 !important;
}
.panel a {
	color: #668688 !important;
}
.panel a:hover {
	color: #86a3a5 !important;
}
h3 {
	color: #6b8583 !important;
}

.progress {
    background-color: #b8d0cf60;  
    border-radius: 2px;
    margin-bottom: 10px;
    position: relative;
    height: 20px;
}

.panel-body .progress:nth-of-type(1) .progress-bar {
    background-color: #adc8cd80 !important; 
}

.panel-body .progress:nth-of-type(2) .progress-bar {
    background-color: #90a7a680 !important; 
}
.panel-body .progress:nth-of-type(3) .progress-bar {
    background-color: #45788280 !important; 
}
.panel-body .progress:nth-of-type(4) .progress-bar {
    background-color: #7b9a9c80 !important; 
}
div:nth-child(2)>div>div>div.progress-bar.progress-bar-success {
background: #c3d5d680 !important;
}

.button {
	background: #8a9e9f80 !important;
	border: none !important;
	box-shadow: none !important;
	color: #fff !important;
	text-shadow: none !important;
}
.button:hover {
	background: #cddfe080 !important;
}
.dynastylist .left {
	background-color: #8daead80 !important;
}
.dynastylist .left h3 {
	color: #e3ecec80 !important;
}
.col.col-sm-4 .left {
	background-color: #647c7c80 !important;
	color: #ffffff80 !important;
}
.left {
	background-color: #647c7c80 !important;
}

#sparring td.right_odd {
  background-color: #cbdfe080; 
  padding: 10px; 
  font-size: 12px; 
  text-align: center;
  border-bottom-right-radius: 2px; 
}

#player td.right_odd {
  background-color: #9eb8b890 !important; 
  border-top: nonef !important; 
  padding: 8px 10px;
  font-size: 13px;
}

.s-chat-message:nth-child(even) {
	background: #ffffff80 !important;
	border-bottom: 1px solid #fff !important;	
}
.s-chat-message:nth-child(odd) {
	background: #ffffff80 !important;
	border-bottom: 1px solid #fff !important;
}
.s-chat-message[data-mid="553411"] {
    background-color: #c5dbe380 !important;
    border-radius: 4px;
}
#chatMessageList[data-pings="enabled"] .s-chat-message_mention {
	background-color: #c5dbe380 !important;
}

#fra_chatContainer .channelMenu .channelSwitcher {
	color: #627174 !important;
}

#fra_chatContainer .channelMenu .channelSwitcher:hover {
	background-color: #93a7ab80 !important;
	color: #ffffff !important;
}

#fra_chatContainer .channelMenu .channelSwitcher.active {
	background-color: #93a7ab80 !important;
	color: #ffffff !important;
	}
.s-chat-message_claim {
	background-color: #ffffff !important;
	border-bottom: none !important;
	color: #a2cacd !important;
	}
#modalClaimBG {
	background: #ffffff80 !important;
}
#modalClaimList {
	background: #c8dcdc80 !important;
	border: none !important;
	box-shadow: none!important;
}
#modalClaimList h3 {
	background: #889fa080 !important;
	color: #fff !important;
}
#modalClaimList button.close {
	color: #fff !important;
}
.chatMenu-container {
	background-color: #ffffffd0 !important;
	color: #93a7ab !important;
}
#label_currentChannel {
	background-color: #ffffffd0 !important;
	color: #93a7ab !important;
}
#chatMessagePinned {
	background-color: #b3cdcf80 !important;
	border-bottom: none !important;
}
#chatMessagePinned a {
	color: #8eaaaa !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #bdd6d480;
}

::-webkit-scrollbar-thumb {
  background: #92a9a980;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c7c7c80;
}
