@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background-color: #c8dbdd !important;
	background-image: url('https://github.com/snnxwww/Custom-CSS-Themes/blob/main/Snow%20Leopard%20Theme/snowleopardbg.png?raw=true') !important;
	background-position: center !important;
	background-size: cover !important;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
}

.main {
	background-color: #c7d6d790 !important;
	border: none !important;
	box-shadow: none !important;
}
.col-xs-12 {
	background-color: #ffffff00 !important;
}
.col-md-9 {
	background-color: #ffffff00 !important;
}
.col-md-3 {
	background-color: #9eb4b480 !important;
}

.topbar {
	background-color: #9eb4b480 !important;
	color: #fff !important;
}
.topbar a {
	color: #fff !important;
}
