/* custom cave order */
.main .col-md-4.col-xs-6 {
      width: 33% !important;
      height: 25% !important;
   }
#fraCaveList .col-md-4.center:nth-child(1) {
	    position: relative;
	    transform: translateY(200%);
	    left: 66%;
	}
	#fraCaveList .col-md-4.center:nth-child(2) {
	    position: relative;
	    transform: translateY(0%);
	    left: -33%;
	}
	#fraCaveList .col-md-4.center:nth-child(3) {
	    position: relative;
	    transform: translateY(200%);
	    left: -33%;
	}
	#fraCaveList .col-md-4.center:nth-child(4) {
	    position: relative;
	    transform: translateY(100%);
	    left: 0%;
	}
	#fraCaveList .col-md-4.center:nth-child(5) {
	    position: relative;
	    transform: translateY(-100%);
	    left: 0%;
	}
	#fraCaveList .col-md-4.center:nth-child(6) {
	    position: relative;
	    transform: translateY(-100%);
	    left: 0%;
	}
	#fraCaveList .col-md-4.center:nth-child(7) {
	    position: relative;
	    transform: translateY(-100%);
	    left: 33%;
	}
	#fraCaveList .col-md-4.center:nth-child(8) {
	    position: relative;
	    transform: translateY(-100%);
	    left: 33%;
	}
	#fraCaveList .col-md-4.center:nth-child(9) {
	    position: relative;
	    transform: translateY(-100%);
	    left: -66%;
	}
